body {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}
h1 {
	font-family: 'Kreon', serif;
	font-size: 2em;
}
h2 {
	font-family: 'Kreon', serif;
	font-size: 1.5em;
}
img {
	width: 40px;
}

nav {
	font-family: 'Kreon', serif;
	font-size: 1.5em;
	float: right;
	margin-top: 50px;
}
nav a {
	text-decoration: none;
	color: black;
	display: inline-block;
	margin: 30px;
}
a:hover {
	background-color: #aaaaaa;
}

section {
	margin: 20px;
}

section img {
	width: 33.33%;
	float: left;
}
