* { margin:0; padding:0; box-sizing:border-box; }

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: black
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

h1 {
	font-family: 'Kreon', serif;
	font-size: 1.8em;
	text-decoration: none;
}
h2 {
	font-family: 'Kreon', serif;
	font-size: 1.5em;
}

header img {
	width: 11em;
}

hr {
	border-color: #fd6e6e;
	clear: both;
	margin-left: 33.33%;
	margin-top: 3em;
	margin-bottom: 3em;
	width: 33.33%;
}

nav {
	font-family: 'Kreon', serif;
	font-size: 1em;
	float: right;
	margin-top: 2.5em;
}
nav a {
	text-decoration: none;
	color: black;
	display: inline-block;
	margin: 1.5em;
}
a:hover {
	background-color: #aaaaaa;
}

section {
	margin: 1em;
}

section a {
	text-decoration: none;
	color: black
}

figure {
	width: 33.33%;
	float: left;
}
figure img {
	width: 100%;
	padding: 1em;
}
figure h2 {
	text-align: center;
	text-decoration: none;
	color: black
}

#about {
	margin-left: 2em;
	margin-right: 2em;
}

#about h1 {
	text-align: center
}

#about img {
	float: left;
	width: 10em;
	margin: 5em;
}

#about p {
	margin-right: 10em;
	margin-top: 5em;
}

#contact h1 {
	text-align: center
}

ul {
    list-style-type: none;
}

li {
	display: inline-block;
	padding: 5em;
}

@media (max-width: 800px) {
	nav {
		width: 100%;
	}
	figure {
		width: 100%;
	}
}


