body {
	background: url("../images/stripes.png") repeat-x, url("../images/background.jpg") no-repeat;
	background-color: #525a6a;
	background-size: auto, cover;
	color: white;
	font-family: helvetica, arial, sans-serif;
	font-size: 20px;
}
section {
	margin: 200px 0 0 100px;
}
hr {
	border-color: #fd6e6e;
	margin:0;
	width: 40px;
}
h1 {
	margin: 0 0 10px 0;
}
