* { margin:0; padding:0; box-sizing:border-box; }

body {
	font-family: 'Junge', serif;
	color: white;
	background: url("../images/pub.jpg") no-repeat;
	background-color: #525a6a;
}
h2 {
	font-family: 'Orienta', helvetica, sans-serif;
	color: white;
	margin: 100px 0 0 200 px;
}
p {
	margin: 200px 0 0 400px;
}