* { margin:0; padding:0; box-sizing:border-box; }

body {
	background: url("../images/pub.jpg") no-repeat;
	background-color: #525a6a;
	color: white;
	font-family: 'Junge', serif;
	font-size: 20px	
}
h1 {
	margin: 50px 0 0 100px;
}
h2 {
	color: white;
	font-family: 'Orienta', helvetica, sans-serif;
	font-size: 32
	margin: 50px 0 0 200px;
}
p {
	margin: 100px 0 0 300px;
}