* { margin:0; padding:0; box-sizing:border-box; }

body {
	font-family: 'Junge', serif;
	font-color: white;
	background: url("../images/pub.jpg") no-repeat;
}
h2 {
	font-family: 'Orienta', helvetica, sans-serif;
	color: white;
}